# 读取

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!unzip '/content/drive/MyDrive/Competition/AliMobileRecommendationAlgorithmChallenge/tianchi_fresh_comp_train_user_online_partB.zip'

Archive:  /content/drive/MyDrive/Competition/AliMobileRecommendationAlgorithmChallenge/tianchi_fresh_comp_train_user_online_partB.zip
  inflating: tianchi_fresh_comp_train_user_online_partB.txt

In [3]:
df = pd.read_csv('/content/tianchi_fresh_comp_train_user_online_partB.txt',chunksize = 10**6,header=None,sep='\t',iterator=True)

## 数据量

In [3]:

num = 0
for i in df:
  if i.shape[0]<10**6:
    print(i.shape)
  else:
    num+=1
print(num)

(522826, 6)
565

In [10]:
df.get_chunk(10**6+1)

                0          1  2    3      4              5
3        82101921  306437634  1  NaN  10392  2014-12-01 21
4        82101921  177664570  1  NaN   1797  2014-12-07 20
5        82101921  277191740  1  NaN   5027  2014-12-09 21
6        82101921  238198750  1  NaN  11750  2014-11-25 09
7        82101921  258418313  1  NaN  14079  2014-12-13 21
...           ...        ... ..  ...    ...            ...
999999   63253510   18103129  1  NaN   5894  2014-12-02 13
1000000  63253510  172093562  1  NaN   7516  2014-12-03 11
1000001  63253510   69897050  4  NaN   2901  2014-12-14 10
1000002  63253510   69945681  1  NaN  13041  2014-12-03 22
1000003  63253510  108532158  1  NaN   8010  2014-12-03 19

[1000001 rows x 6 columns]

# 处理、操作

In [4]:
# 行为总数分布
count1,count2,count3,count4 = 0,0,0,0

for i in df:
  count1 += i[i[2]==1].count()
  count2 += i[i[2]==2].count()
  count3 += i[i[2]==3].count()
  count4 += i[i[2]==4].count()

print(count1)
print(count2)
print(count3)
print(count4)

0    532881199
1    532881199
2    532881199
3    169367031
4    532881199
5    532881199
dtype: int64
0    11072729
1    11072729
2    11072729
3     3350459
4    11072729
5    11072729
dtype: int64
0    15997264
1    15997264
2    15997264
3     4798901
4    15997264
5    15997264
dtype: int64
0    5571634
1    5571634
2    5571634
3    1770903
4    5571634
5    5571634
dtype: int64

In [12]:
df1 = pd.DataFrame(data=[count1[2],count2[2],count3[2],count4[2]],
                   index=['浏览','收藏','加购物车','购买'],
                   columns=['行为数量'])
df1

           行为数量
浏览    532881199
收藏     11072729
加购物车   15997264
购买      5571634

In [15]:
df1['行为比例'] = df1['行为数量']/(df1['行为数量'].sum())
df1

           行为数量      行为比例
浏览    532881199  0.942281
收藏     11072729  0.019580
加购物车   15997264  0.028288
购买      5571634  0.009852

In [17]:
df1['漏斗'] = 1-abs(df1['行为数量'].pct_change(1))
df1

           行为数量      行为比例        漏斗
浏览    532881199  0.942281       NaN
收藏     11072729  0.019580  0.020779
加购物车   15997264  0.028288  0.555256
购买      5571634  0.009852  0.348287